.intro {
    font-size: 30px;
    line-height: 1.3;
    color: black;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}

#startButton {
    display: block;
    color: blueviolet;
    background-color: cornsilk;
    width: 50%;
    height: 20px;
}